<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>A Test Project</title>


    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/css/owl.theme.default.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="main-wrapper">
        <div class="container">
           <div class="main-wraper-bg">
            <div class="header-area-img" style="background: url(assets/img/headerdemo.jpg); height:200px; background-size: 100% 200px">
                <div class="row">
                <div class="col-md-2">
                    <div class="logo">
                        <a href="" class="">
                            <img src="assets/img/logo.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="header-title">
                        <h2>A Test Project</h2>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="header-title-two">
                        <h3> </h3>
                        <p> <br>
                             <br>
                              <br>
                            </p>
                    </div>
                </div>
            </div>
            </div>
    <div class="main-content">
         <div class="row">
             <div class="col-md-8 col-md-offset-2">
                 <div class="registration_form">
                    <form action="">
                     <div class="main_panel">
                         <div class="panel panel-default">
                         <div class="panel-heading">Registration Form</div>
                          <div class="panel-body">
<!--
                            <div class="require">
                                <h4>(<span class="star">*</span> Marked filled are Mandatory)</h4>
                            </div>
                            
-->
                            <div class="panel panel-success">
                                <div class="panel-heading">Personal Information</div>
                                <div class="panel-body">
                                     <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control" id="" placeholder="Name">
                                     </div>
                                      
                                       <div class="form-group">
                                            <label for="">Father's Name</label>
                                            <input type="text" class="form-control" id="" placeholder="Father's Name">
                                       </div>
                                       
                                        <div class="form-group">
                                            <label for="">Mother's Name</label>
                                            <input type="text" class="form-control" id="" placeholder="Mother's Name">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Gender</label>
                                                   <select name="" id="" class="form-control">
                                                       <option value="">Male</option>
                                                       <option value="">Female</option>
                                                       <option value="">Other</option>
                                                   </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Date Of Birth</label>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                               
                                                                <select id="day" name="day" class="form-control">
                                                                <option value="">Day</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                                 </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                             <div class="form-group">
                                                                
                                                                <select id="day" name="day" class="form-control">
                                                                <option value="">Month</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                                 </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                             <div class="form-group">
                                                                
                                                                <select id="day" name="day" class="form-control">
                                                                <option value="">Year</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                                 </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    <div class="row">
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Email Address</label>
                                        <input type="email" class="form-control" id="" placeholder="Email">
                                    </div>
                                        </div>
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Mobile Number</label>
                                        <input type="text" class="form-control" id="" placeholder="Mobile Number">
                                    </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="password" class="form-control" id="" placeholder="Password">
                                    </div>
                                        </div>
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Confirm Password</label>
                                        <input type="password" class="form-control" id="" placeholder="Confirm Password">
                                    </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">National ID/ Passport Number</label>
                                        <input type="text" class="form-control" id="" placeholder="National ID/ Passport Number">
                                    </div>
                                        </div>
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Blood Group</label>
                                        <input type="text" class="form-control" id="" placeholder="Blood Group">
                                    </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <div class="panel panel-success">
                                <div class="panel-heading">Parmanent Address</div>
                                <div class="panel-body">
                                   <div class="form-group">
                                        <label for="">Address</label>
                                        <input type="text" class="form-control" id="" placeholder="Village/ House No/Road No etc">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Division</label>
                                        <input type="text" class="form-control" id="" placeholder="Division">
                                    </div>
                                        </div>
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">District</label>
                                        <input type="text" class="form-control" id="" placeholder="District">
                                    </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Upzilla/Thana</label>
                                        <input type="text" class="form-control" id="" placeholder="Upzilla/Thana">
                                    </div>
                                        </div>
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Union</label>
                                        <input type="text" class="form-control" id="" placeholder="Union">
                                    </div>
                                        </div>
                                    </div>
                                    
                                     <div class="row">
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Word No</label>
                                        <input type="text" class="form-control" id="" placeholder="Word No">
                                    </div>
                                        </div>
                                        <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Post Code</label>
                                        <input type="text" class="form-control" id="" placeholder="Post Code">
                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">Present Address</div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="">Present Address</label>
                                        <textarea name="" id="" col="10" row="10" class="form-control" placeholder="In 300 Words"></textarea>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="panel-footer">
                              <div class="input-group">
                                  <button class="btn btn-primary">Get Registered</button> Or <a href="index.html">Go Back</a>
                              </div>
                          </div>
                        </div>
                     </div>
                     </form>
                 </div>
             </div>
         </div>
    </div>
    
         <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="assets/img/img1.png" alt="">
                        <h4>SSC PRE TEST</h4>
                        <p>Feel Free to attain the exam and test your potentiality 
                        </p>
                        <a href="">More</a>
                      </div>
                    </div>
                </div>
                <div class="item">
                    <div class="panel panel-default">
                     <div class="panel-body">
                        <img src="assets/img/img1.png" alt="">
                        <h4>JSC PRE TEST</h4>
                        <p>Feel Free to attain the exam and test your potentiality /p>
                        <a href="">More</a>
                      </div>
                    </div>
                </div>
                <div class="item">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="assets/img/img1.png" alt="">
                        <h4>MBA PRE TEST </h4>
                        <p>Feel Free to attain the exam and test your potentiality </p>
                        <a href="">More</a>
                      </div>
                    </div>
                </div>
                <div class="item">
                   <div class="panel panel-default">
                  <div class="panel-body">
                        <img src="assets/img/img1.png" alt="">
                        <h4>HSC PRE TEST</h4>
                        <p>Feel Free to attain the exam and test your potentiality </p>
                        <a href="">More</a>
                      </div>
                </div>
                </div>
                <div class="item">
                   <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="assets/img/img1.png" alt="">
                        <h4>Third Term Final PRE TEST</h4>
                        <p>Feel Free to attain the exam and test your potentiality </p>
                       <a href="">More</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="footer-area">
                <div class="row">
                    <div class="col-md-6">
                        Copyright &copy; 2017
                    </div>
                    <div class="col-md-6">
                        <div class="right">
                            Design & Developed FOR RTSOFT <a href=""></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/active.js"></script>
  </body>
</html>